html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: Arial,Microsoft Sans Serif;
	font-size: 15px;
	background: #e7e4e4 url("images/bg.png") repeat;
	color: #5c646e;
}

::selection {
	background-color: #9f385b;
	color: white;
}

::-moz-selection {
	background-color: #9f385b;
	color: white;
}

*{
	margin: 0;
	padding: 0;
}

p {
	margin: 18px 0;
	line-height: 20px;
}

a {
	color: #5694FF;
	text-decoration: unset;
}

a:hover {

}

a img {
	border: none;
	outline: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: normal;
}

h1 {
	font-size: 24px;
	color: #3E5BEF;
	text-transform: none;
}

h2 {
	font-size: 16px;
	color: #3E5BEF;
}

h3 {
	font-size: 16px;
	color: #18093A;
	margin: 7px 0;
}

h4 {
	font-size: 14px;
	margin: 7px 0;
}

h5 {
	
}

h6 {

}

/*Lists*/
ul {
	list-style-type: disc;
	padding-left: 20px;
	margin: 0;
}

ul li, ol li {
	line-height: 22px;
}

ul li ul {
	padding-left: 20px;
	margin: 0;
}

ul.unstyled {
	list-style-type: none;
	padding-left: 0;
}

ul.unstyled ul li {
	list-style-type: disc;
}

ol {
	list-style-type: none;
	padding-left: 25px;
}

code {
	padding: 1px 3px;
	background-color: #dedede;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: normal;
	font-size: 11px;
}

/*Tables*/
table {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: separate;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background-color: #131260;
	color: #9da4af;
}

table th, table td {
    padding: 7px 12px 6px;
    line-height: 18px;
    text-align: left;
}

table th {
    color: white;
	font-weight: bold;
    vertical-align: middle;
	background-color: #72A4F9;
}

table td {
    vertical-align: top;
    border-top: 1px solid #d8dbde;
}

table td a {
	color: #d08b98;
}

table tbody th {
    vertical-align: top;
    border-top: 1px solid #d8dbde;
}

table th+th,table td+td,table th+td {
    border-left: 1px solid #d8dbde;
}

table thead tr:first-child th:first-child, table tbody tr:first-child td:first-child {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

table thead tr:first-child th:last-child, table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

table tr:hover {
    background-color: #131260;
	color: #dddddd;
}

/*Forms*/
form {
    display: inline-block;
}

label {
    line-height: 24px;
	margin-left: 3px;
	float: none;
}

input,select,textarea {
    display: inline-block;
	width: auto;
    height: 20px;
    padding: 7px 5px;
    line-height: 18px;
    border: 1px solid white;
	background-color: #e3e4e5;
	-webkit-transition: background linear 0.2s;
	-moz-transition: background linear 0.2s;
	-ms-transition: background linear 0.2s;
	-o-transition: background linear 0.2s;
	transition: background linear 0.2s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	margin: 5px 0;
	font-size: 14px;
}

input:-moz-placeholder {
  color: #757575;
}

input::-webkit-input-placeholder {
  color: #757575;
}

input:focus,textarea:focus {
    background-color: #d6d6d6;
	outline: none;
}

select {
    width: auto;
    height: auto;
	border: 1px solid #a2a2a2;
}

textarea {
    height: auto;
}

.row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 16px 0;
}

.span,.span1 {
	float: left;
	display: inline;
	
}

.span {
	width: 240px;
	margin-right: 70px;
}

.span1 {
	width: 270px;
	margin: 0 15px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
}
/*Header*/
.header {
	width: 100%;
	height: 72px;
	background: #2f3441 url("images/bg-header.png") repeat-x;
}

.header .headerContent {
	width: 960px;
	padding: 20px 10px 0;
	height: 52px;
	margin: 0 auto;
}

.headerContent h1 {
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
	line-height: 24px;
}

.headerContent h1 a {
	text-decoration: none;
	color: #a5adb8;
}

form.search {
	display: inline-block;
	float: right;
}

form.search > input[type=text] {
	width: 205px;
	height: 22px;
	padding: 5px;
	color: #a5adb8;
	background-color: #24272d;
	border: 1px solid #875f66;
	font-size: 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	margin: 0 5px 0 0;
	box-shadow: inset 0 5px 5px rgba(0,0,0, 0.3);
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0, 0.3);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0, 0.3);
}

form.search > input[type=image] {
	width: 36px;
	height: 34px;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: transparent;
}

form.search > input:-moz-placeholder {
  color: #5b636e;
}
form.search > input::-webkit-input-placeholder {
  color: #5b636e;
}	

form.search > input[type=text]:focus {
	border: 1px solid #a5adb8;
}
/*Slider*/
.slider {
	width: 980px;
	height: 240px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.itemSlider {
	width: 980px;
	height: 240px;
}

.itemSlider .bgSlide {
	width: 980px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
}

.itemSlider .descSlide {
	position: absolute;
	top: 40px;
	left: 30px;
	width: 500px;
	overflow: hidden;
}

.descSlide>h1 {
	font-size: 30px;
}

.descSlide h1+p {
	color: #282D33;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.descSlide>span {
	display: inline-block;
	font-size: 18px;
	font-weight: bolder;
	color: #393C3F;
	margin: 25px 0 6px;
}

.descSlide>p {
	color: #d9dcdf;
	margin-top: 0;
}
/*Navigation*/
.nav {
	width: 980px;
	height: 29px;
	background-color: #174AC1;
	margin: 0 auto;
	padding-top: 7px;
}

ul.menu {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu li {
	float: left;
}

ul.menu li a {
	color: lightblue;
	font-weight: bold;
	text-decoration: none;
	padding: 0 20px;
	-webkit-transition: text-shadow linear 0.2s;
	-moz-transition: text-shadow linear 0.2s;
	-ms-transition: text-shadow linear 0.2s;
	-o-transition: text-shadow linear 0.2s;
	transition: text-shadow linear 0.2s;
}

.breadcrumbs {
	width: 940px;
	padding: 4px 20px 6px;
	font-size: 11px;
	margin: 0 auto;
	background-color: #f3f3f3;
}
/*Main*/
.main {
	width: 940px;
	padding: 20px 20px 270px;
	overflow: hidden;
	background-color: white;
	margin: 0 auto;
}
/*Left Column*/
.leftCol {
	width: 150px;
	float: left;
	margin-right: 20px;
	color: #757575;
}

.leftCol input,.leftCol textarea {
	width: 183px;
}

.leftCol select {
	width: 193px;
}

.leftCol select:focus {
	outline: none;
}

/*Social button*/
.tw,.vk,.google {
	margin-bottom: 2px;
	height: 18px;
}
/*Right Column*/
.rightCol {
	overflow: hidden;
}

ul.img {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 10px 12px 20px;
}

ul.img li {
	float: left;
	margin-right: 85px;
	border: 2px solid lightgray;
}
/*Footer*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #e7e4e4 url("images/bg-footer.png") repeat;
	border-top: 10px solid #72A4F9;
	height: 230px;
	overflow: hidden;
}

.footerContent {
	padding: 10px;
	color: white;
	width: 960px;
	margin: 30px;
	font-size: 12px;
	color: #85898f;
	overflow: hidden;
}

.footerContent p {
	margin: 7px 0;
}

.footerContent p strong {
	font-size: 14px;
	color: #a5adb8;
}

.footerContent a {
	color: #d08b98;
}

.footerContent h4 {
	margin: 20px;
}

.footerContent .borderBottom {
	width: 270px;
	height: 1px;
	background-color: #191c20;
	border-bottom: 1px solid #40474f;
	margin-top: 5px;
}

.footerContent ul.clock {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Social*/
.social {
	font-size: 12px;
	margin-right: 20px;
}

.social>div {
	display: block;
	float: left;
	margin: 18px 5px 0 0;
}

.social ul {
	display: inline-block;
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
	float: left;
}

.social ul li {
	float: left;
	margin-right: 5px;
}